<app-encabezado></app-encabezado>

<section class="banner_area">
  <div class="space_img d_flex align-items-center">
    <div class="overlay img_secunadario" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
    </div>
  </div>

</section>

<section class="complete_height">
  <div class="container">
    <div class="row">

      <div class="row col-md-12">

        <div class="col-md-12">
          <div></div>
          <div class="fondo_div">
                <h3>Gracias por realizar la reservacion</h3>
                <h4>Tu numero de reservacion es: <span style="font-weight: bold;">#45</span></h4>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
